.header {
  position: relative;
  text-align: center;
  height: 95vh;
  background: url(../img/background.png) fixed;
  background-size: cover;
  background-position: center; }
  .header__nav {
    z-index: 1;
    position: absolute;
    bottom: 0; }
  .header li {
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 5px;
    display: inline-block;
    margin: auto 10px;
    padding: 10px; }
  .header a {
    color: white;
    font-weight: bold;
    text-decoration: none; }
  .header__job-title {
    position: absolute;
    top: 0;
    right: 0;
    letter-spacing: 5px;
    margin: auto 10px;
    text-transform: uppercase; }

@media screen and (max-width: 587px) {
  .header {
    margin-top: -17px;
    height: 60vh;
    background-size: auto 60vh;
    background-position: top;
    font-size: 1rem; }
    .header li {
      font-size: 0.8rem; } }

@media screen and (max-width: 375px) {
  .header {
    margin-top: -10px;
    margin-left: 10px;
    height: 95vh;
    width: 102vw;
    background-size: auto 100vh;
    background-position: top;
    font-size: 1rem; }
    .header li {
      font-size: 0.8rem;
      letter-spacing: 2px;
      margin: 0;
      padding: auto 3px; } }

.about {
  width: 100%;
  height: 600px;
  position: relative; }
  .about__photo--cropped {
    display: none;
    width: 50%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -42%); }
  .about__photo {
    position: absolute;
    width: 21%;
    height: 30vw;
    max-height: 500px;
    top: 140px;
    left: 18%; }
  .about__description {
    top: 175px;
    left: 43%;
    width: 38%;
    height: 200px;
    position: absolute;
    line-height: 36px;
    font-size: 100%; }

@media screen and (max-width: 1300px) {
  .about__photo {
    position: absolute;
    width: 20%;
    height: 30vw;
    max-height: 500px;
    top: 140px;
    left: 18%; }
  .about__description {
    top: 160px;
    left: 40%;
    width: 40%;
    line-height: 31px;
    font-size: 100%; } }

@media screen and (max-width: 1100px) {
  .about__photo {
    position: absolute;
    width: 20%;
    height: 30vw;
    max-height: 500px;
    top: 140px;
    left: 18%; }
  .about__description {
    top: 130px;
    left: 40%;
    width: 40%;
    line-height: 30px;
    font-size: 90%; } }

@media screen and (max-width: 1000px) {
  .about__photo {
    display: none; }
  .about__description {
    top: 100px;
    left: 17%;
    width: 70%;
    line-height: 40px;
    font-size: 107%; } }

@media screen and (max-width: 587px) {
  .about {
    height: 43vh;
    font-size: 1rem; }
    .about__photo {
      display: none; }
    .about__description {
      top: 70px;
      left: 10%;
      width: 80%;
      line-height: 26px;
      font-size: 102%; } }

@media screen and (max-width: 375px) {
  .about {
    height: 105vh; }
    .about h1 {
      position: absolute;
      top: 30%;
      left: 25%; }
    .about__photo--cropped {
      display: block;
      margin-left: 20px; }
    .about__description {
      top: 47%;
      left: 10%;
      width: 90%;
      line-height: 26px;
      font-size: 104%; } }

.projects {
  width: 100%;
  height: 900px;
  background: url(../img/background2.jpg) fixed;
  background-size: cover;
  position: relative;
  background-position: bottom;
  /* Slideshow container */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /* Number text (1/3 etc) */
  /* The dots/bullets/indicators */
  /* Fading animation */
  /* The Modal (background) */
  /* Modal Content/Box */ }
  .projects h1 {
    padding-top: 80px;
    color: hotpink; }
  .projects .slideshow-container {
    width: 65%;
    width: 850px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50.2%;
    transform: translate(-50%, -120%);
    z-index: 9; }
    .projects .slideshow-container img {
      height: 450px; }
  .projects .mySlides {
    display: none; }
  .projects .prev, .projects .next {
    cursor: pointer;
    position: absolute;
    top: 120%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0; }
  .projects .next {
    right: 0;
    border-radius: 3px 0 0 3px; }
  .projects .prev:hover, .projects .next:hover {
    background-color: rgba(0, 0, 0, 0.8); }
  .projects .text {
    display: none;
    color: #f2f2f2;
    font-size: 28px;
    padding: 8px 12px;
    position: absolute;
    bottom: -180%;
    width: 100%;
    text-align: center; }
  .projects .text-content {
    color: #f2f2f2;
    font-size: 17px;
    padding: 0px 0px;
    padding-left: 40px;
    position: absolute;
    bottom: -175%;
    width: 95%;
    text-align: center; }
  .projects .text-built {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 0px;
    padding-left: 40px;
    position: absolute;
    bottom: -200%;
    width: 95%;
    text-align: right; }
  .projects .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0; }
  .projects .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
  .projects .active, .projects .dot:hover {
    background-color: #717171; }
  .projects .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
  .projects #myModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */ }
  .projects .modal-content {
    background-color: #fefefe;
    margin: 6% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    overflow: scroll;
    width: 80vw;
    /* Could be more or less, depending on screen size */
    height: 80vh; }
    .projects .modal-content img {
      width: 46%;
      margin: 3px;
      margin-left: 2%;
      margin-bottom: 2%; }
  .projects h3 {
    padding: 30px;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: bold; }

.modal-content-1, .modal-content-2, .modal-content-3, .modal-content-4, .modal-content-5, .modal-content-6 {
  display: none; }

.open-modal {
  border: black 10px solid;
  padding: 5px;
  background-color: #0f030f;
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  font-weight: bold; }

.open-modal:hover {
  border: black 10px solid;
  background-color: #4f1745; }

.modal-info {
  height: 300px;
  display: inline-block; }

.modal-block {
  float: left; }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

@media screen and (max-width: 1100px) {
  .projects {
    /* Slideshow container */
    /* Next & previous buttons */
    /* Caption text */ }
    .projects .slideshow-container {
      width: 70vw;
      height: 80px;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -120%); }
      .projects .slideshow-container img {
        height: 400px; }
    .projects .prev, .projects .next {
      top: 250%; }
    .projects .text {
      bottom: -380%;
      width: 100%; }
    .projects .text-content {
      bottom: -530%; }
    .projects .text-built {
      bottom: -600%; } }

@media screen and (max-width: 587px) {
  .projects {
    font-size: 1rem;
    height: 650px;
    background-size: auto 85vh;
    background-position: top;
    /* Slideshow container */
    /* Next & previous buttons */
    /* Caption text */ }
    .projects h1 {
      padding-top: 60px; }
    .projects .slideshow-container {
      width: 90%;
      height: 80px;
      top: 38%;
      left: 50%;
      transform: translate(-50%, -120%); }
      .projects .slideshow-container img {
        height: 320px; }
    .projects .prev, .projects .next {
      top: 210%;
      width: auto;
      margin-top: -22px; }
    .projects .text {
      display: none;
      font-size: 28px;
      padding: 8px 12px;
      bottom: -380%;
      width: 100%; }
    .projects .text-content {
      display: none;
      font-size: 17px;
      bottom: -390%;
      width: 90%; }
    .projects .text-built {
      font-size: 15px;
      padding-left: 40px;
      bottom: -430%; } }

@media screen and (max-width: 375px) {
  .projects {
    margin-left: 10px;
    width: 102vw;
    height: 620px;
    /* Next & previous buttons */
    /* Caption text */
    /* Slideshow container */ }
    .projects .prev, .projects .next {
      top: 150%; }
    .projects .text-content {
      display: block;
      font-size: 18px;
      top: 360%;
      text-align: left; }
    .projects .slideshow-container {
      top: 42%; }
      .projects .slideshow-container img {
        height: 220px; }
    .projects .text-built {
      font-size: 11px;
      bottom: -410%; } }

.resume {
  width: 100%;
  height: 650px;
  position: relative; }
  .resume h1 {
    color: #f8c867; }
  .resume__photo {
    position: absolute;
    right: 100px;
    width: 400px; }
  .resume__skills {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%); }
  .resume__button {
    width: 21%;
    height: 80px;
    padding: 15px 20px;
    background-color: #0f030f;
    color: white;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 1.5rem; }
  .resume__button--add {
    display: inline-block;
    padding: -5px 0px;
    background-color: #1f061d;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    color: #0f030f;
    font-weight: bold; }
  .resume__button--content {
    margin-top: -20px; }
  .resume__button--add:hover {
    background-color: #4f1745; }
  .resume .resume {
    position: absolute;
    top: 60%;
    right: 20%; }
  .resume .github {
    position: absolute;
    top: 30%;
    right: 20%; }
  .resume .linkedin {
    position: absolute;
    top: 45%;
    right: 20%; }

@media screen and (max-width: 587px) {
  .resume {
    font-size: 1rem;
    height: 50vh; }
    .resume__skills {
      display: none; }
    .resume__button {
      width: 70%;
      height: 80px;
      padding: 15px 20px;
      font-size: 1.3rem; }
    .resume .resume {
      top: 70%;
      left: 15%; }
    .resume .github {
      top: 20%;
      left: 15%; }
    .resume .linkedin {
      top: 45%;
      left: 15%; } }

@media screen and (max-width: 375px) {
  .resume {
    margin-left: 5%; }
    .resume .resume {
      top: 76%;
      left: 10%; }
    .resume .github {
      top: 20%;
      left: 15%; }
    .resume .linkedin {
      top: 48%;
      left: 15%; } }

.contact {
  width: 100%;
  height: 800px;
  background: url(../img/contact.jpg) fixed;
  background-size: cover;
  position: relative;
  background-position: top;
  text-align: center; }
  .contact h1 {
    padding-top: 80px;
    color: #b6ffd1; }
  .contact .contact-form {
    background-color: rgba(0, 0, 0, 0.7);
    height: 400px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -50%); }
    .contact .contact-form .contact-details {
      text-align: left;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .contact .contact-form .contact-details .label {
        vertical-align: top;
        padding-right: 15px; }
      .contact .contact-form .contact-details input {
        height: 25px;
        width: 200px;
        margin-bottom: 8px; }

@media screen and (max-width: 587px) {
  .contact {
    font-size: 1rem;
    height: 75vh;
    background-size: auto 100vh;
    background-position: top; }
    .contact .contact-form {
      height: 300px;
      width: 450px; } }

@media screen and (max-width: 375px) {
  .contact {
    margin-left: 10px;
    width: 102vw; }
    .contact .contact-form {
      top: 60%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #010101;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.2em;
  color: white;
  margin-top: 20px; }

.container {
  position: relative; }
  .container .animate-nav li {
    transition: width 2s linear 1s;
    display: inline-block;
    z-index: 3; }
  .container li.animate-nav-color {
    color: purple; }
  .container li.animate-nav-color .second-nav {
    color: yellow; }
  .container h1 {
    margin-top: 100px;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    color: #6fa7e7;
    letter-spacing: 20px; }

.navigation {
  position: fixed;
  transform: rotate(-90deg);
  top: 300px;
  left: -185px;
  z-index: 100; }
  .navigation li {
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 5px;
    display: none; }
  .navigation a, .navigation a:hover {
    color: inherit;
    font-weight: bold;
    text-decoration: none; }

@media screen and (max-width: 587px) {
  .navigation {
    display: none; }
  .container h1 {
    margin-top: 60px;
    font-size: 2em;
    letter-spacing: 10px; } }
